/* $Id: style.css,v 1.38.2.4 2009/09/14 13:10:47 goba Exp $ */




/**
*Clearsenses css
*/
font, div, input, textarea, form {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
	line-height:19px;
}

/*
.holderc a:link, a:visited, a:active
{
color:#333333;
text-decoration: underline;
}
*/



a:link {
	color: #333333;
	text-decoration: underline;
}
a:visited {
	text-decoration: underline;
	color: #333333;
}

a:hover {
	text-decoration: none;
	color: #333333;
}

a:active {
	text-decoration: underline;
	color: #333333;
}


BODY {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	margin:0px;
	font-size:11px;
	line-height:14px;
	min-width:800px;
	background-color:#ffffff;
	color: #666666;
	
}
IMG {
	border:0px;
	
}
#containerc{
	width:900px;
	margin:0px auto;
	}
#mainc{
	width:100%;
	float:left;
	}
.logoc{
	width:425px;
	float:left;
	padding-top:73px;
	padding-left:50px;
	}
.punchwordsc{
	width:425px;
	float:left;
	}
.teamc{
	width:100%;
	float:left;
	text-align:left;
	}
.contentc{
	width:822px;
	float:left;
	background-color:#EAEAEA;
	padding:39px;
	}
.cholderc{
	width:810px;
	float:left;
	background-image:url(imgs/bg_universal.jpg);
	background-position:top;
	background-repeat:repeat-y;
	padding-left:4px;
	padding-right:8px;
	}
.menuc{
	width:745px;
	float:left;
	background-image:url(images/menu_bg.jpg);
	background-repeat:no-repeat;
	height:53px;
	text-align:right;
	padding-right:87px;
	}
.menu2{
	width:745px;
	float:left;
	height:53px;
	text-align:right;
	padding-right:87px;
	}
.centerc{
	width:100%;
	float:left;
	text-align:left;
	height:490px;
	background-image:url(images/bg_center.jpg);
	background-position:top;
	background-repeat:repeat-x;
	background-color:#FFFFFF;
	padding-top:50px;
	
	}
.center2{
	width:100%;
	float:left;
	text-align:left;
	height:540px;
	background-image:url(images/bg_center.jpg);
	background-position:top;
	background-repeat:repeat-x;
	background-color:#FFFFFF;
	
	}
.holderc{
	width:762px;
	float:left;
	padding-left:30px;
	padding-right:30px;
	}
.column1{
	width:230px;
	float:left;
	margin-right:20px;
	line-height:22px;
	
	}
.footerc{
	width:100%;
	float:left;
	font-size:11px;
	background-color:#FFFFFF;
	text-align:center;
	padding-top:5px;
	padding-bottom:5px;
	}



